# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# SAM build artifacts
.aws-sam/

# AWS credentials
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# macOS
.DS_Store

samconfig.toml